.info-div {
  margin: 12rem 5rem 1rem 5rem;
  padding: 2rem 1.5rem 1rem 1.5rem;
  box-shadow: 0rem 0rem 1rem 0.01rem $color4;
  text-align: right;
  .title {
    @include flexLeft(row, center);
    color: $color1;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    img {
      height: 2.5rem;
      margin-right: 0.5rem;
    }
  }
  .info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.8rem;
    margin: 0 2rem 3rem 0;
    div {
      border: thin solid $color4;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 600;
      text-transform: uppercase;
      padding: 0.5rem 0;
      span {
        color: $color6;
      }
    }
  }
  .apply-link {
    background-color: $color6;
    width: fit-content;
    padding: 0.4rem 0.7rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: $color2;
    font-size: 1.5rem;
    font-weight: 600;
    &:hover {
      background-color: $color1;
      color: $color2;
    }
    img {
      height: 2.5rem;
      margin: 0 0.5rem 0.4rem 0;
    }
  }
  .bottom-info {
    font-size: 1.2rem;
    font-weight: 600;
    span {
      img {
        margin: 0 0.5rem;
      }
      a {
        text-decoration: none;
        color: $color22;
        text-transform: uppercase;
      }
    }
  }
}

.company-text {
  margin: 0 5rem 1rem 5rem;
  font-size: 2rem;
  text-align: justify;
}

.click-details {
  margin: 0 5rem 5rem 5rem;
  background-color: $color3;
  padding: 3rem 1rem;
  a {
    text-decoration: none;
    color: $color16;
    font-size: 2.2rem;
    letter-spacing: 0.8rem;
    &:hover {
      color: $color1;
    }
    img {
      margin-right: 2rem;
    }
  }
}

.map-section {
  margin: 0 5rem 5rem 5rem;
  color: $color1;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  iframe {
    margin: 4rem auto 0 auto;
    width: 100%;
    height: 30rem;
  }
}
