.filter-section {
  background-color: $color3;
  color: $color4;
  text-align: center;
  padding: 4rem 1rem 8rem 1rem;
  margin-top: 7rem;
  h1 {
    margin-bottom: 3rem;
  }
  form {
    @include flexCenter(row, flex-end);
    .form-buttons {
      @include flexCenter(row, flex-end);
    }
    .select-div {
      @include flexCenter(row, center);
    }
    div {
      @include flexCenter(column, flex-start);
      margin-right: 0.5rem;
      label {
        color: $color5;
        font-size: 1.4rem;
        font-weight: 700;
      }
      input,
      select {
        border: 0.05rem solid $color11;
        height: 3rem;
        padding-left: 0.5rem;
        font-size: 1.5rem;
        border-radius: 0.5rem;
      }
      #state,
      #price {
        width: 10rem;
      }
    }
    a {
      font-size: 1.2rem;
      text-decoration: none;
      color: $color2;
      font-weight: 700;
      padding: 0.6rem 1rem;
      border-radius: 0.5rem;
    }
    .search-results {
      background-color: $color7;
      margin-right: 0.5rem;
      &:hover {
        background-color: $color2;
        color: $color7;
      }
    }
    .clear-filter {
      border: none;
      height: 3rem;
      background-color: $color8;
      outline: none;
      border-radius: 0.5rem;
      font-size: 1.2rem;
      color: $color2;
      font-weight: 700;
      padding: 0.6rem 1rem;
      cursor: pointer;
      &:hover {
        background-color: $color4;
        color: $color2;
      }
      img {
        width: 1.2rem;
        margin: auto 0.5rem auto 0;
      }
    }
  }
}

.search-results-section {
  text-align: center;
  h1 {
    color: $color9;
    font-weight: 600;
    margin: 5rem 0 3rem 0;
  }
  div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-bottom: 5rem;
    padding: 2rem;
    a {
      &:hover {
        border: 0.3rem solid $color1;
      }
      img {
        width: 100%;
        border: thin solid $color19;
      }
    }
  }
}
