$color1: #d45749;
$color2: #fff;
$color3: #eee;
$color4: #929399;
$color5: #4d4c54;
$color6: #4795d5;
$color7: #457eb4;
$color8: #e5ab5a;
$color9: #6f6a68;
$color10: #d95e4c;
$color11: #cfd1d7;
$color12: #e27e65;
$color13: #98a5a6;
$color14: #519bd8;
$color15: #000;
$color16: #1f1f1f;
$color17: #f5f5f5;
$color18: #df877b;
$color19: #d8d2cbd7;
$color20: #5e5e5e;
