html {
  font-size: 62.5%;
  font-family: Helvetica;
  scroll-behavior: smooth;
}

@import "./variables";
@import "./mixins";
@import "./header";
@import "./main";
@import "./footer";
@import "./filter";
@import "./detail";

.w-100 {
  width: 100%;
}

.margin-center {
  margin: 0 auto;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}
