html {
  font-size: 62.5%;
  font-family: Helvetica;
}

header {
  background-color: #d45749;
  padding: 0 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
  height: 7rem;
}

header .logo-div {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

header .logo-div .logo {
  height: 5rem;
}

header .logo-div .logo-text {
  font-size: 3rem;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav .icons {
  height: 1.5rem;
  margin: 0 0.5rem 0 2rem;
}

header nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-weight: 500;
}

.search-section {
  background: url(/images/background.jpg), no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-section h1 {
  color: #eee;
  margin: 7rem 0 2rem 0;
  font-size: 3rem;
}

.search-section .search-div {
  background-color: #d8d2cbd7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4rem 5rem 3.5rem 3.5rem;
  border-radius: 1rem;
  width: 91.684rem;
}

.search-section .search-div label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-weight: 700;
  color: #4d4c54;
  font-size: 1.5rem;
}

.search-section .search-div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.search-section .search-div div input {
  width: 70rem;
  height: 4.2rem;
  border: none;
  padding: 0 0 0 1rem;
  outline: none;
  font-size: 2.5rem;
}

.search-section .search-div div a {
  background-color: #d45749;
  text-decoration: none;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.search-section .how-it-works {
  text-decoration: none;
  color: #000;
  margin: 3.5rem 0 9rem 0;
  background-color: #cfd1d7;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

.steps-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.steps-section .four-steps {
  grid-column: 1 / -1;
  color: #d95e4c;
  margin: 7rem 0;
}

.steps-section .step {
  width: 38rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
}

.steps-section .step img {
  width: 4rem;
}

.steps-section .step h2 {
  font-size: 2.5rem;
}

.steps-section .step p {
  margin-top: 0;
  text-align: center;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #4d4c54;
  font-weight: 500;
}

.info-section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 30rem;
  padding: 2rem 7rem;
}

.info-section article h4 {
  color: #fff;
  font-size: 2rem;
  margin: 0;
}

.info-section article p {
  color: #fff;
  font-size: 1.3rem;
  margin-bottom: 4rem;
}

.info-section article a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 0.5rem;
  background-color: #fff;
}

.info-section article .round-img {
  border-radius: 50%;
  width: 26rem;
  height: 26rem;
}

.info-section article div {
  width: 40rem;
}

.info-section .registered {
  background-color: #e27e65;
}

.info-section .registered a {
  color: #e27e65;
}

.info-section .registered picture {
  position: relative;
}

.info-section .registered picture img[class^="abs-img"] {
  position: absolute;
}

.info-section .registered picture img[class^="abs-img"]:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.info-section .registered picture .abs-img1 {
  top: 2.5rem;
  right: 5rem;
}

.info-section .registered picture .abs-img2 {
  top: 4.5rem;
  right: 5.5rem;
}

.info-section .registered picture .abs-img3 {
  top: 5.5rem;
  right: 5.8rem;
}

.info-section .registered picture .abs-img4 {
  top: 12rem;
  right: 7rem;
}

.info-section .registered picture .abs-img5 {
  top: 10rem;
  right: 15rem;
}

.info-section .registered picture .abs-img6 {
  top: 22rem;
  right: 13rem;
}

.info-section .registered picture .abs-img7 {
  top: 10rem;
  right: 3rem;
}

.info-section .registered picture .abs-img8 {
  top: 10rem;
  right: 20rem;
}

.info-section .registered picture .abs-img9 {
  top: 9rem;
  right: 3rem;
}

.info-section .registered picture .abs-img10 {
  top: 20rem;
  right: 7rem;
}

.info-section .registered picture .abs-img11 {
  top: 2.5rem;
  right: 9rem;
}

.info-section .registered picture .abs-img12 {
  top: 9rem;
  right: 7rem;
}

.info-section .registered picture .abs-img13 {
  top: 10rem;
  right: 5rem;
}

.info-section .registered picture .abs-img14 {
  top: 15rem;
  right: 18rem;
}

.info-section .registered picture .abs-img15 {
  top: 20rem;
  right: 10rem;
}

.info-section .registered picture .abs-img16 {
  top: 21rem;
  right: 14rem;
}

.info-section .registered picture .abs-img17 {
  top: 20rem;
  right: 13rem;
}

.info-section .registered picture .abs-img18 {
  top: 18rem;
  right: 13rem;
}

.info-section .registered picture .abs-img19 {
  top: 17rem;
  right: 6.5rem;
}

.info-section .registered picture .abs-img20 {
  top: 14rem;
  right: 5rem;
}

.info-section .registered picture .abs-img21 {
  top: 9rem;
  right: 17rem;
}

.info-section .registered picture .abs-img22 {
  top: 6rem;
  right: 18rem;
}

.info-section .registered picture .abs-img23 {
  top: 2.5rem;
  right: 18rem;
}

.info-section .registered picture .abs-img24 {
  top: 9rem;
  right: 13rem;
}

.info-section .registered picture .abs-img25 {
  top: 10rem;
  right: 15rem;
}

.info-section .registered picture .abs-img26 {
  top: 10rem;
  right: 12rem;
}

.info-section .registered picture .abs-img27 {
  top: 2.5rem;
  right: 14rem;
}

.info-section .registered picture .abs-img28 {
  top: 2.5rem;
  right: 16rem;
}

.info-section .registered picture .abs-img29 {
  top: 16rem;
  right: 16rem;
}

.info-section .registered picture .abs-img30 {
  top: 20rem;
  right: 18rem;
}

.info-section .no-need {
  background-color: #98a5a6;
}

.info-section .no-need a {
  color: #98a5a6;
}

.info-section .anytime {
  background-color: #519bd8;
}

.bottom-nav {
  background-color: #000;
  padding: 5rem;
}

.bottom-nav div {
  position: relative;
  width: 90%;
  border-top: 0.2rem solid #e7e4e44b;
  border-bottom: 0.2rem solid #e7e4e44b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2rem 0;
}

.bottom-nav div a {
  margin: 0;
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
}

.bottom-nav div .facebook {
  margin-left: 5rem;
}

.bottom-nav div .advertise {
  margin-right: 5rem;
}

.bottom-nav div .footer-logo {
  position: absolute;
  border-radius: 50%;
  border: 0.2rem solid #e7e4e44b;
  width: 10rem;
  height: 10rem;
  text-align: center;
  background-color: #000;
}

.bottom-nav div .footer-logo img {
  width: 4rem;
  margin-top: 2rem;
}

.sub-con-ab {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  padding: 0 5% 2rem 5%;
  color: #929399;
  font-size: 1.5rem;
}

.sub-con-ab .sub,
.sub-con-ab .ab {
  width: 35rem;
}

.sub-con-ab .con {
  width: 30rem;
}

.sub-con-ab h1 {
  color: #fff;
  font-weight: 400;
  margin: 0 0 2rem 0;
}

.sub-con-ab .red-text {
  color: #d45749;
  text-decoration: none;
}

.sub-con-ab input {
  background-color: #000;
  color: #ece8e8ab;
  padding: 1.2rem 0.8rem 1rem 0.8rem;
  outline: none;
  width: 24rem;
  height: 3.7rem;
  border: 0.2rem solid #e7e4e44b;
}

.sub-con-ab .sub-send {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: #e7e4e44b;
  height: 9rem;
  padding: 1rem 3.1rem;
}

.w-100 {
  width: 100%;
}

.margin-center {
  margin: 0 auto;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}
/*# sourceMappingURL=style.css.map */