@import "./variables";
@import "./mixins";
@import "./header";
@import "./nav";
@import "./main";
@import "./footer";

html {
  font-size: 62.5%;
}

.w-100 {
  width: 100%;
}

.margin-center {
  margin: 0 auto;
}
